{% if site.isso %}
<div class="comments">
	<script data-isso="{{ site.isso }}" src="{{ site.isso }}/isso/js/embed.min.js"></script>
	<section id="isso-thread"></section>

	<noscript>Please enable JavaScript to view the <a href="https://posativ.org/isso/">comments powered by Isso.</a></noscript>
</div>
{% endif %}
