{% if include.type != "footer" %}<ul>{% endif %}
  {% if include.type != "footer" and site.url %}<li>Blog y radio: <a href="{{ site.url }}">Maratón Linuxero</a></li>{% endif %}
  {% if site.email %}{% if include.type != "footer" %}<li>Correo: {% endif %}<a href="mailto:{{ site.email }}">{% if include.type != "footer" %}{{ site.email }}{% else %}<i class="svg-icon email"></i>{% endif %}</a>{% if include.type != "footer" %}</li>{% endif %}{% endif %}
  {% if site.telegram.group %}{% if include.type != "footer" %}<li>Telegram: {% endif %}<a href="https://telegram.me/{{ site.telegram.group  }}">{% if include.type != "footer" %}@{{ site.telegram.group }}{% else%}<i class="svg-icon telegram"></i>{% endif %}</a>{% if include.type != "footer" %}</li>{% endif %}{% endif %}
  {% if site.mastodon.url and site.mastodon.name %}{% if include.type != "footer" %}<li>Mastodon: {% endif %}<a href="{{ site.mastodon.url }}">{% if include.type != "footer" %}{{ site.mastodon.name }}{% else %}<i class="svg-icon mastodon"></i>{% endif %}</a>{% if include.type != "footer" %}</li>{% endif %}{% endif %}
  {% if site.twitter %}{% if include.type != "footer" %}<li>Twitter: {% endif %}<a href="https://www.twitter.com/{{ site.twitter }}">{% if include.type != "footer" %}@{{ site.twitter }}{% else %}<i class="svg-icon twitter"></i>{% endif %}</a>{% if include.type != "footer" %}</li>{% endif %}{% endif %}
  {% if site.facebook %}{% if include.type != "footer" %}<li>Facebook: {% endif %}<a href="https://www.facebook.com/{{ site.facebook }}">{% if include.type != "footer" %}Maratón Linuxero{% else %}<i class="svg-icon facebook"></i>{% endif %}</a>{% if include.type != "footer" %}</li>{% endif %}{% endif %}
  {% if site.youtube %}{% if include.type != "footer" %}<li>YouTube: {% endif %}<a href="{{ site.youtube }}">{% if include.type != "footer" %}{{ site.youtube }}{% else %}<i class="svg-icon youtube"></i>{% endif %}</a>{% if include.type != "footer" %}</li>{% endif %}{% endif %}
  {% if site.feed.path %}{% if include.type != "footer" %}<li>Feed Podcast: {% endif %}<a href="{{ site.feed.path }}">{% if include.type != "footer" %}Maratón Linuxero{% else %}<i class="svg-icon feed"></i>{% endif %}</a>{% if include.type != "footer" %}</li>{% endif %}{% endif %}
  {% if site.archiveorg %}{% if include.type != "footer" %}<li>Audios en Archive.org: {% endif %}<a href="https://archive.org/details/@{{ site.archiveorg }}">{% if include.type != "footer" %}@{{ site.archiveorg }}{% else %}<i class="svg-icon archiveorg"></i>{% endif %}</a>{% if include.type != "footer" %}</li>{% endif %}{% endif %}
  {% if include.type == "footer" and site.android %}<a href="{{ site.android }}"><i class="svg-icon android"></i></a>{% endif %}
  {% if include.type == "footer" and site.gitlab %}<a href="{{ site.gitlab }}"><i class="svg-icon gitlab"></i></a>{% endif %}
{% if include.type != "footer" %}</ul>{% endif %}
