{% assign ctd = site.countdown %}
<!DOCTYPE html>
<html lang="es">
<head>
  <script type="text/javascript">
    if(window.location.protocol == 'http:') {
      location.href = location.href.replace("http://", "https://");
    }
  </script>

  <title>{% if page.title %}{{ page.title }} – {% endif %}{{ site.name }} – {{ site.description }}</title>

  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=2.0">

  {% if page.excerpt %}
  <meta name="description" content="{{ page.excerpt| strip_html }}" />
  <meta property="og:description" content="{{ page.excerpt| strip_html }}" />
  {% else %}
  <meta name="description" content="{{ site.description }}">
  <meta property="og:description" content="{{ site.description }}" />
  {% endif %}
  <meta name="author" content="{{ site.name }}" />

  {% if page.title %}
  <meta property="og:title" content="{{ page.title }}" />
  <meta property="twitter:title" content="{{ page.title }}" />
  {% endif %}

  <!--[if lt IE 9]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->

  <link rel="stylesheet" type="text/css" href="/css/main.css" />
  <link rel="alternate" type="application/rss+xml" title="{{ site.name }} - {{ site.description }}" href="{{ site.feed.path }}" />

  <!-- Favicon -->
  <meta name="theme-color" content="#ffffff">
  <link rel="icon" type="image/png" sizes="16x16" href="/media/favicon/16x16.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/media/favicon/32x32.png">
  <link rel="icon" type="image/png" sizes="48x48" href="/media/favicon/48x48.png">
  <link rel="icon" type="image/png" sizes="72x72" href="/media/favicon/72x72.png">
  <link rel="icon" type="image/png" sizes="96x96" href="/media/favicon/96x96.png">
  <link rel="icon" type="image/png" sizes="144x144" href="/media/favicon/144x144.png">
  <link rel="icon" type="image/png" sizes="192x192"  href="/media/favicon/192x192.png">

</head>
{% include piwik.html %}
<body>
  <header>
    <section id="top">
      <a href="/"><img src="{{ site.avatar }}" alt="" /></a>

      <section id="info">
        <h1 id="name"><a href="/">{{ site.name }}</a></h1>
        <p id="description">{{ site.description }}</p>

        {% if ctd.format and ctd.date.start and ctd.date.end and ctd.msg.start and ctd.msg.end %}
        <div id="countdown" style="margin-top:5px;"></div>
        {% endif %}
      </section>
    </section>

    <nav>
      <a href="/">INICIO</a>
      <a href="https://kiwiirc.com/client/irc.freenode.net:6667/#maratonlinuxero" target="_blank">CHAT</a>
      <a href="/informacion">INFORMACIÓN</a>
      <a href="/noticias">NOTICIAS</a>
      <a href="/podcast">PODCAST</a>
      <a href="/deja-tu-audio">ENVÍANOS TU AUDIO</a>
    </nav>
  </header>

  <main>
    {{ content }}
  </main>

  <footer>
    {% include links.html type="footer" %}
  </footer>

  <script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ=" crossorigin="anonymous"></script>
  {% include countdown.html %}
</body>
</html>
