---
layout: default
---

<article class="post">
  <h1>{{ page.title }}</h1>
  <div class="entry">
    {{ content }}
    {% include links.html %}
  </div>

  <div class="date">
    Escrito el {{ page.date | date: "%d/%m/%Y" }}
  </div>

  {% unless page.comments == false %}
  {% include isso.html %}
  {% endunless %}
</article>
